.group-1,
.group-1 * {
  box-sizing: border-box;
}
.group-1 {
  height: 894.69px;
  position: relative;
}
.rectangle-1 {
  background: #d9d9d9;
  width: 1918px;
  height: 878px;
  position: absolute;
  left: 4px;
  top: 16.69px;
}
.bcf-6-detail {
  width: 1304px;
  height: 563.46px;
  position: static;
}
.bcf-6 {
  width: 972.55px;
  height: 422.36px;
  position: absolute;
  left: 110.8px;
  top: 141.1px;
  object-fit: cover;
  aspect-ratio: 972.55/422.36;
}
.bcf-6-1 {
  width: 93.75px;
  height: 111.74px;
  position: absolute;
  left: 1107.03px;
  top: 391.11px;
  object-fit: cover;
  aspect-ratio: 93.75/111.74;
}
.bcf-6-2 {
  width: 91.86px;
  height: 103.22px;
  position: absolute;
  left: 1212.14px;
  top: 399.63px;
  object-fit: cover;
  aspect-ratio: 91.86/103.22;
}
.bcf-6-3 {
  width: 91.86px;
  height: 103.22px;
  position: absolute;
  left: 0px;
  top: 399.63px;
  object-fit: cover;
  aspect-ratio: 91.86/103.22;
}
.bcf-6-obj-1 {
  width: 5.68px;
  height: 194.13px;
  position: absolute;
  left: 353.23px;
  top: 165.72px;
  object-fit: cover;
  aspect-ratio: 5.68/194.13;
}
.bcf-6-fire-1 {
  width: 36.04px;
  height: 92.67px;
  position: absolute;
  left: 89.02px;
  top: 326.71px;
  object-fit: cover;
  aspect-ratio: 36.04/92.67;
}
.bcf-6-fire-2 {
  width: 36.04px;
  height: 92.67px;
  position: absolute;
  left: 1083.35px;
  top: 327.66px;
  object-fit: cover;
  aspect-ratio: 36.04/92.67;
}
.bcf-6-fire-3 {
  width: 47.36px;
  height: 71.96px;
  position: absolute;
  left: 377.85px;
  top: 80.49px;
  object-fit: cover;
  aspect-ratio: 47.36/71.96;
}
.bcf-6-fire-4 {
  width: 47.36px;
  height: 71.96px;
  position: absolute;
  left: 1044.53px;
  top: 82.39px;
  object-fit: cover;
  aspect-ratio: 47.36/71.96;
}
.bcf-6-obj-2 {
  background: #e8e4ba;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 33.14px;
  height: 97.54px;
  position: absolute;
  left: 998.12px;
  top: 182.77px;
}
.bcf-6-elv-1 {
  width: 69.13px;
  height: 60.61px;
  position: absolute;
  left: 287.88px;
  top: 394.89px;
  object-fit: cover;
  aspect-ratio: 69.13/60.61;
}
.bcf-6-elv-2 {
  width: 69.13px;
  height: 60.61px;
  position: absolute;
  left: 287.88px;
  top: 410.99px;
  object-fit: cover;
  aspect-ratio: 69.13/60.61;
}
.bcf-6-obj-3 {
  width: 47.45px;
  height: 140.8px;
  position: absolute;
  left: 526.52px;
  top: 86.18px;
  object-fit: cover;
  aspect-ratio: 47.45/140.8;
}
.bcf-6-obj-4 {
  width: 47.45px;
  height: 140.8px;
  position: absolute;
  left: 526.52px;
  top: 138.26px;
  object-fit: cover;
  aspect-ratio: 47.45/140.8;
}
.bcf-6-bong-13 {
  width: 14.27px;
  height: 99.91px;
  position: absolute;
  left: 562.51px;
  top: 171.4px;
  object-fit: cover;
  aspect-ratio: 14.27/99.91;
}
.bcf-6-bong-14 {
  width: 14.2px;
  height: 99.43px;
  position: absolute;
  left: 562.51px;
  top: 172.35px;
  object-fit: cover;
  aspect-ratio: 14.2/99.43;
}
.bcf-6-bong-15 {
  width: 14.2px;
  height: 99.43px;
  position: absolute;
  left: 562.51px;
  top: 172.35px;
  object-fit: cover;
  aspect-ratio: 14.2/99.43;
}
.bcf-6-obj-5 {
  width: 47.45px;
  height: 140.8px;
  position: absolute;
  left: 822.93px;
  top: 86.18px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 47.45/140.8;
}
.bcf-6-obj-6 {
  width: 47.45px;
  height: 140.8px;
  position: absolute;
  left: 822.93px;
  top: 138.26px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 47.45/140.8;
}
.bcf-6-bong-16 {
  width: 14.27px;
  height: 99.91px;
  position: absolute;
  left: 786.95px;
  top: 171.4px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 14.27/99.91;
}
.bcf-6-bong-17 {
  width: 14.2px;
  height: 99.43px;
  position: absolute;
  left: 772.74px;
  top: 172.35px;
  object-fit: cover;
  aspect-ratio: 14.2/99.43;
}
.bcf-6-bong-18 {
  width: 14.2px;
  height: 99.43px;
  position: absolute;
  left: 772.74px;
  top: 172.35px;
  object-fit: cover;
  aspect-ratio: 14.2/99.43;
}
.bcf-6-door-open-7 {
  width: 14.2px;
  height: 111.74px;
  position: absolute;
  left: 1090.93px;
  top: 190.34px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 14.2/111.74;
}
.bcf-6-door-close-7 {
  width: 14.2px;
  height: 111.74px;
  position: absolute;
  left: 1090.93px;
  top: 289.78px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 14.2/111.74;
}
.bcf-6-bong-19 {
  width: 14.27px;
  height: 99.91px;
  position: absolute;
  left: 1098.5px;
  top: 316.29px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 14.27/99.91;
}
.bcf-6-bong-20 {
  width: 14.2px;
  height: 99.43px;
  position: absolute;
  left: 1083.35px;
  top: 317.24px;
  object-fit: cover;
  aspect-ratio: 14.2/99.43;
}
.bcf-6-bong-21 {
  width: 14.2px;
  height: 99.43px;
  position: absolute;
  left: 1083.35px;
  top: 317.24px;
  object-fit: cover;
  aspect-ratio: 14.2/99.43;
}
.bcf-6-oil {
  width: 122.94px;
  height: 146.98px;
  position: absolute;
  left: 954.56px;
  top: 410.05px;
  object-fit: cover;
  aspect-ratio: 122.94/146.98;
}
.bcf-6-elv-3 {
  width: 89.96px;
  height: 239.59px;
  position: absolute;
  left: 972.55px;
  top: 181.82px;
  object-fit: cover;
  aspect-ratio: 89.96/239.59;
}
.bcf-6-elv-4 {
  width: 89.96px;
  height: 239.59px;
  position: absolute;
  left: 972.55px;
  top: 285.99px;
  object-fit: cover;
  aspect-ratio: 89.96/239.59;
}
.bcf-6-down-1 {
  width: 43.89px;
  height: 24.01px;
  position: absolute;
  left: 963.08px;
  top: 458.34px;
  object-fit: cover;
  aspect-ratio: 43.89/24.01;
}
.bcf-6-down-2 {
  width: 44.66px;
  height: 23.59px;
  position: absolute;
  left: 963.08px;
  top: 484.86px;
  object-fit: cover;
  aspect-ratio: 44.66/23.59;
}
.bcf-6-down-3 {
  width: 44.66px;
  height: 23.59px;
  position: absolute;
  left: 963.08px;
  top: 429.93px;
  object-fit: cover;
  aspect-ratio: 44.66/23.59;
}
.bcf-1-cycle {
  width: 119.49px;
  height: 72.81px;
  position: absolute;
  left: 955.51px;
  top: 483.91px;
  object-fit: cover;
  aspect-ratio: 119.49/72.81;
}
.bcf-6-tray-1 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 7.58px;
  top: 347.54px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-2 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 178.03px;
  top: 339.97px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-3 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 291.67px;
  top: 339.97px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-4 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 414.78px;
  top: 339.97px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-5 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 560.62px;
  top: 339.97px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-6 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 641.11px;
  top: 339.97px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-7 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 720.66px;
  top: 339.97px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-8 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 851.34px;
  top: 339.97px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-9 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 985.81px;
  top: 357.01px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-10 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 985.81px;
  top: 461.18px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-11 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 1124.07px;
  top: 336.18px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-tray-12 {
  width: 58.67px;
  height: 56.86px;
  position: absolute;
  left: 1233.92px;
  top: 345.65px;
  object-fit: cover;
  aspect-ratio: 58.67/56.86;
}
.bcf-6-jog-gray-1 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 166.67px;
  top: 446.98px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-red-1 {
  width: 81.44px;
  height: 55.87px;
  position: absolute;
  left: 167.62px;
  top: 446.98px;
  object-fit: cover;
  aspect-ratio: 81.44/55.87;
}
.bcf-6-jog-green-1 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 166.67px;
  top: 446.98px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-gray-2 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 399.63px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-red-2 {
  width: 81.44px;
  height: 55.87px;
  position: absolute;
  left: 400.58px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 81.44/55.87;
}
.bcf-6-jog-green-2 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 399.63px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-gray-3 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 539.78px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-red-3 {
  width: 81.44px;
  height: 55.87px;
  position: absolute;
  left: 540.73px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 81.44/55.87;
}
.bcf-6-jog-green-3 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 539.78px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-gray-4 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 627.85px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-red-4 {
  width: 81.44px;
  height: 55.87px;
  position: absolute;
  left: 628.8px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 81.44/55.87;
}
.bcf-6-jog-green-4 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 627.85px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-gray-5 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 716.87px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-red-5 {
  width: 81.44px;
  height: 55.87px;
  position: absolute;
  left: 717.82px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 81.44/55.87;
}
.bcf-6-jog-green-5 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 716.87px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-gray-6 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 825.77px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-jog-red-6 {
  width: 81.44px;
  height: 55.87px;
  position: absolute;
  left: 826.72px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 81.44/55.87;
}
.bcf-6-jog-green-6 {
  width: 82.39px;
  height: 55.87px;
  position: absolute;
  left: 825.77px;
  top: 447.92px;
  object-fit: cover;
  aspect-ratio: 82.39/55.87;
}
.bcf-6-propel-1 {
  width: 59.65px;
  height: 50.2px;
  position: absolute;
  left: 178.03px;
  top: 250px;
  object-fit: cover;
  aspect-ratio: 59.65/50.2;
}
.bcf-6-propel-2 {
  width: 59.65px;
  height: 50.2px;
  position: absolute;
  left: 413.83px;
  top: 259.47px;
  object-fit: cover;
  aspect-ratio: 59.65/50.2;
}
.bcf-6-propel-3 {
  width: 59.65px;
  height: 50.2px;
  position: absolute;
  left: 649.63px;
  top: 273.68px;
  object-fit: cover;
  aspect-ratio: 59.65/50.2;
}
.bcf-6-propel-4 {
  width: 59.65px;
  height: 50.2px;
  position: absolute;
  left: 863.65px;
  top: 273.68px;
  object-fit: cover;
  aspect-ratio: 59.65/50.2;
}
.bcf-6-pen-off-1 {
  width: 70.84px;
  height: 139.56px;
  position: absolute;
  left: 172.35px;
  top: 142.99px;
  object-fit: cover;
  aspect-ratio: 70.84/139.56;
}
.bcf-6-pen-on-1 {
  width: 70.84px;
  height: 139.56px;
  position: absolute;
  left: 172.35px;
  top: 142.99px;
  object-fit: cover;
  aspect-ratio: 70.84/139.56;
}
.bcf-6-pen-off-2 {
  width: 70.84px;
  height: 139.56px;
  position: absolute;
  left: 408.15px;
  top: 152.46px;
  object-fit: cover;
  aspect-ratio: 70.84/139.56;
}
.bcf-6-pen-on-2 {
  width: 70.84px;
  height: 139.56px;
  position: absolute;
  left: 408.15px;
  top: 152.46px;
  object-fit: cover;
  aspect-ratio: 70.84/139.56;
}
.bcf-6-pen-off-3 {
  width: 70.84px;
  height: 139.56px;
  position: absolute;
  left: 643.95px;
  top: 165.72px;
  object-fit: cover;
  aspect-ratio: 70.84/139.56;
}
.bcf-6-pen-on-3 {
  width: 70.84px;
  height: 139.56px;
  position: absolute;
  left: 643.95px;
  top: 165.72px;
  object-fit: cover;
  aspect-ratio: 70.84/139.56;
}
.bcf-6-pen-off-4 {
  width: 70.84px;
  height: 139.56px;
  position: absolute;
  left: 858.92px;
  top: 165.72px;
  object-fit: cover;
  aspect-ratio: 70.84/139.56;
}
.bcf-6-pen-on {
  width: 70.84px;
  height: 139.56px;
  position: absolute;
  left: 858.92px;
  top: 165.72px;
  object-fit: cover;
  aspect-ratio: 70.84/139.56;
}
.bcf-6-circle-1 {
  width: 17.99px;
  height: 16.1px;
  position: absolute;
  left: 116.48px;
  top: 388.26px;
  object-fit: cover;
  aspect-ratio: 17.99/16.1;
}
.bcf-6-circle-2 {
  width: 143.53px;
  height: 15.83px;
  position: absolute;
  left: 136.37px;
  top: 388.26px;
  object-fit: cover;
  aspect-ratio: 143.53/15.83;
}
.bcf-6-circle-3 {
  width: 73.86px;
  height: 16.1px;
  position: absolute;
  left: 284.1px;
  top: 393px;
  object-fit: cover;
  aspect-ratio: 73.86/16.1;
}
.bcf-6-circle-4 {
  width: 143.53px;
  height: 15.83px;
  position: absolute;
  left: 373.11px;
  top: 389.21px;
  object-fit: cover;
  aspect-ratio: 143.53/15.83;
}
.bcf-6-circle-5 {
  width: 143.53px;
  height: 15.83px;
  position: absolute;
  left: 535.05px;
  top: 389.21px;
  object-fit: cover;
  aspect-ratio: 143.53/15.83;
}
.bcf-6-circle-6 {
  width: 143.53px;
  height: 15.83px;
  position: absolute;
  left: 676.15px;
  top: 389.21px;
  object-fit: cover;
  aspect-ratio: 143.53/15.83;
}
.bcf-6-circle-7 {
  width: 125px;
  height: 16.1px;
  position: absolute;
  left: 828.61px;
  top: 389.21px;
  object-fit: cover;
  aspect-ratio: 125/16.1;
}
.bcf-6-circle-8 {
  width: 90.91px;
  height: 16.1px;
  position: absolute;
  left: 972.55px;
  top: 405.31px;
  object-fit: cover;
  aspect-ratio: 90.91/16.1;
}
.bcf-6-circle-9 {
  width: 90.91px;
  height: 16.1px;
  position: absolute;
  left: 971.61px;
  top: 508.53px;
  object-fit: cover;
  aspect-ratio: 90.91/16.1;
}
.bcf-6-circle-10 {
  width: 90.91px;
  height: 16.1px;
  position: absolute;
  left: 1109.87px;
  top: 391.11px;
  object-fit: cover;
  aspect-ratio: 90.91/16.1;
}
.bcf-6-pan-on-1 {
  width: 110.8px;
  height: 29.36px;
  position: absolute;
  left: 5.68px;
  top: 416.2px;
  object-fit: cover;
  aspect-ratio: 110.8/29.36;
}
.bcf-6-pan-off-1 {
  width: 110.8px;
  height: 29.36px;
  position: absolute;
  left: 4.73px;
  top: 401.52px;
  object-fit: cover;
  aspect-ratio: 110.8/29.36;
}
.bcf-6-door-close-3 {
  width: 19.91px;
  height: 101.21px;
  position: absolute;
  left: 346.6px;
  top: 293.57px;
  object-fit: cover;
  aspect-ratio: 19.91/101.21;
}
.bcf-6-door-open-3 {
  width: 19.91px;
  height: 101.21px;
  position: absolute;
  left: 345.65px;
  top: 216.86px;
  object-fit: cover;
  aspect-ratio: 19.91/101.21;
}
.bcf-6-door-close-4 {
  width: 12.34px;
  height: 104.88px;
  position: absolute;
  left: 522.74px;
  top: 304.93px;
  object-fit: cover;
  aspect-ratio: 12.34/104.88;
}
.bcf-6-door-open-4 {
  width: 12.12px;
  height: 102.98px;
  position: absolute;
  left: 525.58px;
  top: 227.28px;
  object-fit: cover;
  aspect-ratio: 12.12/102.98;
}
.bcf-6-door-close-5 {
  width: 12.34px;
  height: 104.88px;
  position: absolute;
  left: 826.72px;
  top: 304.93px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 12.34/104.88;
}
.bcf-6-door-open-5 {
  width: 12.12px;
  height: 102.98px;
  position: absolute;
  left: 823.88px;
  top: 227.28px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 12.12/102.98;
}
.bcf-6-point-1 {
  width: 14.2px;
  height: 13.26px;
  position: absolute;
  left: 171.4px;
  top: 449.82px;
  object-fit: cover;
  aspect-ratio: 14.2/13.26;
}
.bcf-6-point-2 {
  width: 14.2px;
  height: 28.41px;
  position: absolute;
  left: 171.4px;
  top: 419.51px;
  object-fit: cover;
  aspect-ratio: 14.2/28.41;
}
.bcf-6-point-3 {
  width: 14.2px;
  height: 13.26px;
  position: absolute;
  left: 228.22px;
  top: 449.82px;
  object-fit: cover;
  aspect-ratio: 14.2/13.26;
}
.bcf-6-point-4 {
  width: 14.2px;
  height: 28.41px;
  position: absolute;
  left: 228.22px;
  top: 419.51px;
  object-fit: cover;
  aspect-ratio: 14.2/28.41;
}
.bcf-6-pan-on-2 {
  width: 110.8px;
  height: 29.36px;
  position: absolute;
  left: 1297.37px;
  top: 421.88px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 110.8/29.36;
}
.bcf-6-pan-off-2 {
  width: 110.8px;
  height: 29.36px;
  position: absolute;
  left: 1298.32px;
  top: 407.2px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 110.8/29.36;
}
.bcf-6-door-close-1 {
  width: 17.04px;
  height: 284.25px;
  position: absolute;
  left: 119.32px;
  top: 125.95px;
  object-fit: cover;
  aspect-ratio: 17.04/284.25;
}
.bcf-6-door-open-1 {
  width: 17.12px;
  height: 222.54px;
  position: absolute;
  left: 120.27px;
  top: 76.71px;
  object-fit: cover;
  aspect-ratio: 17.12/222.54;
}
.bcf-6-door-close-2 {
  width: 17.04px;
  height: 284.25px;
  position: absolute;
  left: 294.51px;
  top: 125px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 17.04/284.25;
}
.bcf-6-door-open-2 {
  width: 17.12px;
  height: 222.54px;
  position: absolute;
  left: 293.57px;
  top: 76.71px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 17.12/222.54;
}
.bcf-6-door-close-6 {
  width: 17.04px;
  height: 284.25px;
  position: absolute;
  left: 971.61px;
  top: 163.83px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 17.04/284.25;
}
.bcf-6-door-open-6 {
  width: 17.12px;
  height: 222.54px;
  position: absolute;
  left: 970.66px;
  top: 115.53px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 17.12/222.54;
}
.bcf-6-bong-1 {
  width: 38.71px;
  height: 162.44px;
  position: absolute;
  left: 107.96px;
  top: 0.95px;
  object-fit: cover;
  aspect-ratio: 38.71/162.44;
}
.bcf-6-bong-2 {
  width: 38.71px;
  height: 162.44px;
  position: absolute;
  left: 107.96px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 38.71/162.44;
}
.bcf-6-bong-3 {
  width: 38.71px;
  height: 162.44px;
  position: absolute;
  left: 107.96px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 38.71/162.44;
}
.bcf-6-bong-4 {
  width: 38.71px;
  height: 162.44px;
  position: absolute;
  left: 268px;
  top: 0.95px;
  object-fit: cover;
  aspect-ratio: 38.71/162.44;
}
.bcf-6-bong-5 {
  width: 38.71px;
  height: 162.44px;
  position: absolute;
  left: 268px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 38.71/162.44;
}
.bcf-6-bong-6 {
  width: 38.71px;
  height: 162.44px;
  position: absolute;
  left: 268px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 38.71/162.44;
}
.bcf-6-bong-7 {
  width: 38.71px;
  height: 162.44px;
  position: absolute;
  left: 995.28px;
  top: 40.72px;
  object-fit: cover;
  aspect-ratio: 38.71/162.44;
}
.bcf-6-bong-8 {
  width: 38.71px;
  height: 162.44px;
  position: absolute;
  left: 995.28px;
  top: 39.77px;
  object-fit: cover;
  aspect-ratio: 38.71/162.44;
}
.bcf-6-bong-9 {
  width: 38.71px;
  height: 162.44px;
  position: absolute;
  left: 995.28px;
  top: 39.77px;
  object-fit: cover;
  aspect-ratio: 38.71/162.44;
}
.bcf-6-bong-10 {
  width: 34.19px;
  height: 143.51px;
  position: absolute;
  left: 946.04px;
  top: 66.29px;
  object-fit: cover;
  aspect-ratio: 34.19/143.51;
}
.bcf-6-bong-11 {
  width: 34.19px;
  height: 143.51px;
  position: absolute;
  left: 946.04px;
  top: 66.29px;
  object-fit: cover;
  aspect-ratio: 34.19/143.51;
}
.bcf-6-bong-12 {
  width: 34.19px;
  height: 143.51px;
  position: absolute;
  left: 946.04px;
  top: 66.29px;
  object-fit: cover;
  aspect-ratio: 34.19/143.51;
}
.bcf-6-photo-off-1 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 242.43px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-1 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 242.43px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-2 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 242.43px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-2 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 242.43px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-3 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 483.91px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-3 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 483.91px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-4 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 483.91px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-4 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 483.91px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-5 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 621.22px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-5 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 621.22px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-6 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 621.22px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-6 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 621.22px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-7 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 700.77px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-7 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 700.77px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-8 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 700.77px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-8 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 700.77px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-9 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 780.32px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-9 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 780.32px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-10 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 780.32px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-10 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 780.32px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-11 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 911px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-11 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 911px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-off-12 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 911px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-photo-on-12 {
  width: 18.73px;
  height: 34.47px;
  position: absolute;
  left: 911px;
  top: 332.39px;
  object-fit: cover;
  aspect-ratio: 18.73/34.47;
}
.bcf-6-sensor-off-1 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 138.26px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-1 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 138.26px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-off-2 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 376.9px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-2 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 376.9px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-off-3 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 534.1px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-3 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 534.1px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-off-4 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 643px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-4 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 643px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-off-5 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 722.55px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-5 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 722.55px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-off-6 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 842.82px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-6 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 842.82px;
  top: 407.2px;
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-rotate-1 {
  width: 24.76px;
  height: 25.43px;
  position: absolute;
  left: 196.03px;
  top: 456.45px;
  object-fit: cover;
  aspect-ratio: 24.76/25.43;
}
.bcf-6-rotate-2 {
  width: 24.76px;
  height: 25.43px;
  position: absolute;
  left: 428.98px;
  top: 456.45px;
  object-fit: cover;
  aspect-ratio: 24.76/25.43;
}
.bcf-6-rotate-3 {
  width: 24.76px;
  height: 25.43px;
  position: absolute;
  left: 569.14px;
  top: 456.45px;
  object-fit: cover;
  aspect-ratio: 24.76/25.43;
}
.bcf-6-rotate-4 {
  width: 24.76px;
  height: 25.43px;
  position: absolute;
  left: 657.21px;
  top: 456.45px;
  object-fit: cover;
  aspect-ratio: 24.76/25.43;
}
.bcf-6-rotate-5 {
  width: 24.76px;
  height: 25.43px;
  position: absolute;
  left: 746.23px;
  top: 456.45px;
  object-fit: cover;
  aspect-ratio: 24.76/25.43;
}
.bcf-6-rotate-6 {
  width: 24.76px;
  height: 25.43px;
  position: absolute;
  left: 855.13px;
  top: 456.45px;
  object-fit: cover;
  aspect-ratio: 24.76/25.43;
}
.bcf-6-rotate-7 {
  width: 32.23px;
  height: 33.11px;
  position: absolute;
  left: 350.38px;
  top: 145.84px;
  object-fit: cover;
  aspect-ratio: 32.23/33.11;
}
.bcf-6-fsensor-off-1 {
  width: 35.99px;
  height: 126.9px;
  position: absolute;
  left: 381.64px;
  top: 141.1px;
  object-fit: cover;
  aspect-ratio: 35.99/126.9;
}
.bcf-6-fsensor-on-1 {
  width: 35.99px;
  height: 126.9px;
  position: absolute;
  left: 381.64px;
  top: 141.1px;
  object-fit: cover;
  aspect-ratio: 35.99/126.9;
}
.bcf-6-fsensor-off-2 {
  width: 35.99px;
  height: 126.9px;
  position: absolute;
  left: 1047.37px;
  top: 142.05px;
  object-fit: cover;
  aspect-ratio: 35.99/126.9;
}
.bcf-6-fsensor-on-2 {
  width: 35.99px;
  height: 126.9px;
  position: absolute;
  left: 1047.37px;
  top: 142.05px;
  object-fit: cover;
  aspect-ratio: 35.99/126.9;
}
.bcf-6-sensor-off-7 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 233.91px;
  top: 209.28px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-7 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 233.91px;
  top: 209.28px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-off-8 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 469.71px;
  top: 221.59px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-8 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 469.71px;
  top: 221.59px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-off-9 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 705.5px;
  top: 234.85px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-9 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 705.5px;
  top: 234.85px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-off-10 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 921.42px;
  top: 234.85px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-sensor-on-10 {
  width: 30.21px;
  height: 38.95px;
  position: absolute;
  left: 921.42px;
  top: 234.85px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 30.21/38.95;
}
.bcf-6-firepipe-off-1 {
  width: 37.99px;
  height: 51.94px;
  position: absolute;
  left: 385.42px;
  top: 136.37px;
  object-fit: cover;
  aspect-ratio: 37.99/51.94;
}
.bcf-6-firepipe-on-1 {
  width: 37.99px;
  height: 51.94px;
  position: absolute;
  left: 385.42px;
  top: 136.37px;
  object-fit: cover;
  aspect-ratio: 37.99/51.94;
}
.bcf-6-firepipe-off-2 {
  width: 37.99px;
  height: 51.94px;
  position: absolute;
  left: 1051.15px;
  top: 137.31px;
  object-fit: cover;
  aspect-ratio: 37.99/51.94;
}
.bcf-6-firepipe-on-2 {
  width: 37.99px;
  height: 51.94px;
  position: absolute;
  left: 1051.15px;
  top: 137.31px;
  object-fit: cover;
  aspect-ratio: 37.99/51.94;
}
.bcf-6-point-32 {
  width: 20.83px;
  height: 50.19px;
  position: absolute;
  left: 114.59px;
  top: 426.62px;
  object-fit: cover;
  aspect-ratio: 20.83/50.19;
}
.bcf-6-mini-1 {
  width: 20.83px;
  height: 50.19px;
  position: absolute;
  left: 114.59px;
  top: 427.09px;
  object-fit: cover;
  aspect-ratio: 20.83/50.19;
}
.bcf-6-stick-1 {
  width: 8.52px;
  height: 68.18px;
  position: absolute;
  left: 121.21px;
  top: 404.36px;
  object-fit: cover;
  aspect-ratio: 8.52/68.18;
}
.bcf-6-mini-2 {
  width: 20.83px;
  height: 50.19px;
  position: absolute;
  left: 114.59px;
  top: 427.09px;
  object-fit: cover;
  aspect-ratio: 20.83/50.19;
}
.bcf-6-mini-3 {
  width: 20.83px;
  height: 50.19px;
  position: absolute;
  left: 311.56px;
  top: 433.25px;
  object-fit: cover;
  aspect-ratio: 20.83/50.19;
}
.bcf-6-mini-4 {
  width: 20.83px;
  height: 50.19px;
  position: absolute;
  left: 311.56px;
  top: 433.72px;
  object-fit: cover;
  aspect-ratio: 20.83/50.19;
}
.bcf-6-mini-5 {
  width: 20.83px;
  height: 50.19px;
  position: absolute;
  left: 311.56px;
  top: 433.72px;
  object-fit: cover;
  aspect-ratio: 20.83/50.19;
}
.bcf-6-alarm-1 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 115.53px;
  top: 276.52px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-2 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 195.08px;
  top: 125.95px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-3 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 273.68px;
  top: 276.52px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-4 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 239.59px;
  top: 318.19px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-5 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 195.08px;
  top: 428.04px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-6 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 343.76px;
  top: 276.52px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-7 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 309.66px;
  top: 419.51px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-8 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 428.98px;
  top: 429.93px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-9 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 481.07px;
  top: 318.19px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-10 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 431.83px;
  top: 131.63px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-11 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 517.05px;
  top: 288.83px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-12 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 667.63px;
  top: 144.89px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-13 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 618.38px;
  top: 319.13px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-14 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 697.93px;
  top: 318.19px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-15 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 777.48px;
  top: 318.19px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-16 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 569.14px;
  top: 429.93px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-17 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 657.21px;
  top: 429.93px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-18 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 746.23px;
  top: 429.93px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-19 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 855.13px;
  top: 429.93px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-20 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 808.73px;
  top: 288.83px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-21 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 908.16px;
  top: 319.13px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-22 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 882.59px;
  top: 144.89px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-23 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 1002.86px;
  top: 102.27px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-6-alarm-24 {
  width: 24.84px;
  height: 25.34px;
  position: absolute;
  left: 1068.2px;
  top: 280.31px;
  object-fit: cover;
  aspect-ratio: 24.84/25.34;
}
.bcf-1-flamesw-box {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 5.68px;
  top: 474.44px;
}
.bcf-1-flamesw-box2 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 5.68px;
  top: 489.59px;
}
.bcf-1-flamesw-box3 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 168.56px;
  top: 505.69px;
}
.bcf-1-flamesw-box4 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 281.25px;
  top: 483.91px;
}
.bcf-1-flamesw-box5 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 281.25px;
  top: 499.06px;
}
.bcf-1-flamesw-box6 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 400.58px;
  top: 505.69px;
}
.bcf-1-flamesw-box7 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 540.73px;
  top: 505.69px;
}
.bcf-1-flamesw-box8 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 628.8px;
  top: 505.69px;
}
.bcf-1-flamesw-box9 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 717.82px;
  top: 505.69px;
}
.bcf-1-flamesw-box10 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 826.72px;
  top: 505.69px;
}
.bcf-1-flamesw-box11 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 80.49px;
  height: 14.2px;
  position: absolute;
  left: 1087.14px;
  top: 523.68px;
}
.bcf-1-flamesw-box12 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 86.18px;
  height: 14.2px;
  position: absolute;
  left: 1110.81px;
  top: 487.7px;
}
.bcf-1-flamesw-box13 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 86.18px;
  height: 14.2px;
  position: absolute;
  left: 1110.81px;
  top: 471.6px;
}
.bcf-1-flamesw-box14 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 86.18px;
  height: 14.2px;
  position: absolute;
  left: 1110.81px;
  top: 455.5px;
}
.bcf-1-flamesw-box15 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 57.77px;
  height: 23.67px;
  position: absolute;
  left: 650.58px;
  top: 281.25px;
}
.bcf-1-flamesw-box16 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 57.77px;
  height: 23.67px;
  position: absolute;
  left: 865.55px;
  top: 279.36px;
}
.bcf-1-flamesw-box17 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 37.88px;
  height: 14.2px;
  position: absolute;
  left: 996.23px;
  top: 536.94px;
}
.bcf-1-flamesw-box18 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 222.54px;
}
.bcf-1-flamesw-box19 {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 241.48px;
}
.bcf-6-alrblow-off-box {
  background: #d5d5d5;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 10.42px;
}
.bcf-6-alrblow-on-box {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 10.42px;
}
.bcf-6-mainair-off-box {
  background: #d5d5d5;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 31.25px;
}
.bcf-6-mainair-on-box {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 31.25px;
}
.bcf-6-bypas-off-box {
  background: #d5d5d5;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 52.08px;
}
.bcf-6-bypas-on-box {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 52.08px;
}
.bcf-6-pilot-1-off-box {
  background: #d5d5d5;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 72.92px;
}
.bcf-6-pilot-1-on-box {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 72.92px;
}
.bcf-6-pilot-2-off-box {
  background: #d5d5d5;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 93.75px;
}
.bcf-6-pilot-2-on-box {
  background: #9ccc8d;
  border-radius: 5px;
  border-style: solid;
  border-color: #81a769;
  border-width: 1px;
  width: 105.12px;
  height: 17.05px;
  position: absolute;
  left: 154.36px;
  top: 93.75px;
}
.bcf-6-arrow-left-1 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 159.09px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-right-1 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 231.06px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-left-2 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 395.84px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-right-2 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 460.24px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-left-3 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 535.99px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-right-3 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 600.39px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-left-4 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 624.06px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-left-5 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 713.08px;
  top: 471.6px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-right-4 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 688.46px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-right-5 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 777.48px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-left-6 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 821.98px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-right-6 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 886.38px;
  top: 472.55px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-right-7 {
  width: 33.04px;
  height: 29.45px;
  position: absolute;
  left: 1001.91px;
  top: 501.9px;
  object-fit: cover;
  aspect-ratio: 33.04/29.45;
}
.bcf-6-arrow-right-8 {
  width: 33.04px;
  height: 29.45px;
  position: absolute;
  left: 1001.91px;
  top: 398.68px;
  object-fit: cover;
  aspect-ratio: 33.04/29.45;
}
.bcf-6-arrow-left-7 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 296.41px;
  top: 318.19px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-arrow-right-9 {
  width: 26.53px;
  height: 23.66px;
  position: absolute;
  left: 317.24px;
  top: 318.19px;
  object-fit: cover;
  aspect-ratio: 26.53/23.66;
}
.bcf-6-obj-7 {
  width: 23.56px;
  height: 151.33px;
  position: absolute;
  left: 553.04px;
  top: 87.12px;
  object-fit: cover;
  aspect-ratio: 23.56/151.33;
}
._31-2 {
  width: 23.56px;
  height: 151.33px;
  position: absolute;
  left: 806.83px;
  top: 87.12px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 23.56/151.33;
}
.bcf-6-enrich-red-1 {
  width: 27.46px;
  height: 21.78px;
  position: absolute;
  left: 418.57px;
  top: 85.23px;
  object-fit: cover;
  aspect-ratio: 27.46/21.78;
}
.bcf-6-enrich-green-1 {
  width: 28.41px;
  height: 22.73px;
  position: absolute;
  left: 417.62px;
  top: 85.23px;
  object-fit: cover;
  aspect-ratio: 28.41/22.73;
}
.bcf-6-enrich-red-2 {
  width: 27.46px;
  height: 21.78px;
  position: absolute;
  left: 668.57px;
  top: 85.23px;
  object-fit: cover;
  aspect-ratio: 27.46/21.78;
}
.bcf-6-enrich-green-2 {
  width: 28.41px;
  height: 22.73px;
  position: absolute;
  left: 667.63px;
  top: 85.23px;
  object-fit: cover;
  aspect-ratio: 28.41/22.73;
}
.bcf-6-enrich-red-3 {
  width: 27.46px;
  height: 21.78px;
  position: absolute;
  left: 877.86px;
  top: 85.23px;
  object-fit: cover;
  aspect-ratio: 27.46/21.78;
}
.bcf-6-enrich-green-3 {
  width: 28.41px;
  height: 22.73px;
  position: absolute;
  left: 876.91px;
  top: 85.23px;
  object-fit: cover;
  aspect-ratio: 28.41/22.73;
}
